.slidering {
  background-color: #0e131f;
  font-family: "Poppins", sans-serif;
  padding: 100px 0;

  .left_slide_heading {
    h2 {
      color: #f9fafb;
      font-size: 36px;
      font-weight: 600;

      span {
        color: #22c55e;
        cursor: pointer;

        svg {
          font-size: 20px;
          margin-left: 10px;
        }
      }
    }

    p {
      font-size: 20px;
      color: #9ca3af;
    }
  }

  .slider_card {
    width: 100%;
    height: 410px;
    position: relative;
    cursor: pointer;
    &:hover {
      .slider_image {
        .overlay_gradient {
          background: rgb(255, 255, 255);
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(14, 19, 31, 0.7820378151260504) 75%
          );
        }
      }
    }

    .slider_image {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }

      .overlay_gradient {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transition: 0.3s ease-in-out;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 35%,
          rgba(14, 19, 31, 0.7820378151260504) 75%
        );
      }
    }

    .card_absolute_inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: flex-end;
      height: 100%;
      width: 100%;
      padding: 1rem;

      .card_bottom {
        width: 100%;

        .person_information {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          .person_photo {
            width: 24px;
            height: 24px;
            border-radius: 50px;
            box-shadow: 0px 0px 0px 2px white;
            overflow: hidden;
            margin-right: 10px;
            img {
              width: 100%;
            }
          }

          h6 {
            color: white;
            font-size: 0.75rem;
            margin-bottom: 0;
          }

          .verified_icon {
            width: 16px;
            height: 16px;
            margin-left: 5px;
          }
        }

        h2 {
          font-size: 1.875rem;
          font-weight: 600;
          color: white;
          margin-bottom: 20px;
        }

        .photos_container {
          display: flex;
          gap: 17px;
          .mini_photo {
            width: 33%;
            height: 80px;
            border-radius: 10px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  .slider_card_empty {
    height: 410px;
    cursor: pointer;

    .slider_add {
      background-color: #1f2937;
      height: 100%;
      border-radius: 20px;
      color: #e5e7eb;
      display: flex;
      justify-content: center;
      align-items: center;

      .empty_card_text {
        h5 {
          font-weight: 600;
          margin-bottom: 2px;
        }

        span {
          font-size: 14px;
          margin-left: 5px;
        }
      }
    }
  }
}
